
#table2 {
  border-collapse: collapse;
  width: 50vw;
  position: absolute; /* Position the table */
  top: 95vh; /* Position 70% from the top */
  right: 0vw; /* Position 10% from the right */
}
#table2 th, #table2 td {
  padding: .8vh;
  text-align: left;
  color: black; /* Set text color to black */
  background-color: transparent; /* Remove background color */
}
#table2 tr:first-child {
background-color: white;
}
#table2 tbody td {
font-size: min(1.8vw,2.3vh); /* Adjust the font size as needed */
}
#table2 th {
  background-color:white; /* Grey background color for header */
  font-size: min(1.9vw,2.4vh); /* Increased font size for header */
  font-weight: bold; /* Bold font weight for header */
}
.text-box2 {
background-color: rgba(255, 255, 255, 0.578);
margin-top:  95vh; /* Adjusted margin */
font-size: min(2vw,2.5vh);
line-height: 6.5vh;

}
.text-box2 h2 {
font-size: min(2vw,2.8vh);
font-weight: bold;

}
.text-box2 ol {
list-style-type: none; /* Remove default numbering */
counter-reset: my-counter; /* Reset counter for custom numbering */
padding-left: 0; /* Remove default padding */
}
.text-box2 ol li::before {
content: counter(my-counter); /* Use counter for numbering */
counter-increment: my-counter; /* Increment counter */
display: inline-block;
width: 1.5vw;
height: 3vh;
background-color: blue; /* Blue circles */
border-radius: 50%; /* Rounded circles */
text-align: center;
line-height: 2.9vh; /* Vertically center text */
color: white; /* White text */
font-weight: bold;
margin-right: 2vw;
}
table {
border-collapse: collapse; /* Collapse borders */
width: 100vw; /* Full width */
top: 50vh;
height: 11vh; /* Adjust the height as needed */
}
tr:nth-child(even) {
background-color: #f2f2f2; /* Light grey */
}
tr:first-child {
background-color: #658deb; /* Light blue */
}
img {
    position: absolute; /* Set position to absolute for custom positioning */
    width: 100vw; /* Adjust width as needed */
    height: 70vh; /* Maintain aspect ratio */
    left: 1vw; /* Adjust left position */

      }
.join-button {
font-size: min(1.7vw,2.2vh);
background-color: blue;
color: white;
border: 2px solid blue;
border-radius: 15px;
padding: 1vh 1vw;
cursor: pointer;
transition: background-color 0.3s, color 0.3s, border-color 0.3s;
z-index: 999; /* Ensure the header stays on top of other content */
position: relative;
}
.join-button:hover {
background-color: white;
color: blue;
border-color: blue;
}
.imagecontainer {
  position: absolute;
  top:14vh;
  left: 2vw;
  display: flex;
  justify-content: center;
  
}
.imagecontainer img {
height: 60vh;
width: 50vw;
}
.table-container {
  top: 80vh;
  width: 100vw;
  position: absolute;
}
.table-container table {
  width: 100vw; /* Full width */
}
.table-container td {
  text-align: center; /* Center-align text */
  border: 1px solid #dddddd; /* Border for cells */
  color: white; /* Text color */
  font-size: min(2.8vw,3.3vh); /* Font size */
}
.mid-parent-container {
  display: flex;
  flex-direction: row; /* Horizontal layout by default */
  flex-wrap: wrap; /* Allow items to wrap to the next row */
}
@media (max-width: 1020px) {
  .mid-parent-container {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  .mid-parent-container .imagecontainer  {
    transform: translateX(-50%); /* Move container back by half its width */
    
  }
  .mid-parent-container .container {
  top: 50vh;
  right: auto; /* Move the buttons to the middle of the page and add 50px to move them to the right */
  }
  .imagecontainer img {
    height: 35vh;
    width: 97vw;
  
  }
  .table-container {
    top: 75vh;
  }
  #table2 {
    top: 90vh;
     width: 95vw;
  }
  .text-box2 {
    background-color: rgba(255, 255, 255, 0.578);
    margin-top:  130vh; /* Adjusted margin */
    font-size: min(2vw,2.5vh);
    line-height: 4.5vh;
    
    }
    .text-box2 h2 {
    font-size: min(2vw,2.8vh);
    font-weight: bold;
    
    }
    .text-box2 ol {
    list-style-type: none; /* Remove default numbering */
    counter-reset: my-counter; /* Reset counter for custom numbering */
    padding-left: 0; /* Remove default padding */
    }
    .text-box2 ol li::before {
    content: counter(my-counter); /* Use counter for numbering */
    counter-increment: my-counter; /* Increment counter */
    display: inline-block;
    width: 3.5vw;
    height: 2vh;
    background-color: blue; /* Blue circles */
    border-radius: 50%; /* Rounded circles */
    text-align: center;
    line-height: 1.9vh; /* Vertically center text */
    color: white; /* White text */
    font-weight: bold;
    margin-right: 2vw;
    font-size: min(3vw,3.8vh);
    }
  .footer-text {
   margin-top:none;    
  }
  .footer-links ul li {
    margin-bottom: 0vh;
  }
  .container {
    width: 100vw;
    }
.horizontal-buttons {
min-width: 100px;
font-size: max(1vw,2vh,100px); /* Decrease font size */
}
}

.container {
  position: absolute;
  right: 4vw; /* Move the buttons to the middle of the page and add 50px to move them to the right */
  top: 25vh ; /* Move the buttons to the middle of the page and add 50px to move them to the right */
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
  justify-content: center; /* Align children horizontally with space between */
 }
.bottom-center {

display: flex;
flex-direction: column;
align-items: center;

}
.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center content horizontally */
}
.bottom-center span:last-child {

font-weight: bold;
color: black;
}
body {
  overflow-x: scroll;
}
.top-buttons {
    display: flex;
    position: absolute; /* Fix container to the top */
    top: .8vh; /* Adjust top position as needed */
    left: 90vw; /* Move the buttons to the middle of the page and add 50px to move them to the right */

  }
.top-buttons button {
     border-radius: 10px; /* Round corners */
     font-size: min(2.5vw,3vh); /* Increase font size */
    border: 2px solid transparent; /* Add transparent border */
    cursor: pointer; /* Change cursor on hover */
    white-space: nowrap;
  }
.top-buttons button:first-child {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
  }
.top-buttons button:last-child {
    background-color: #fff; /* Button background color */
    color: #007bff; /* Button text color */
  }
.top-buttons button:first-child:hover {
    background-color: #fff; /* White background color on hover */
    color: #007bff; /* Blue text color on hover */
    border-color: #007bff; /* Blue border color on hover */
  }
.top-buttons button:last-child:hover {
    background-color: #007bff; /* Light blue background color on hover */
    color: #fff; /* White text color on hover */
    border-color: #127ff3; /* Dark blue border color on hover */
  }
.horizontal-buttons {
    position: absolute; /* Make it a reference point */
    top: 3vh; /* Adjust top position as needed */
    display: flex; /* Make buttons horizontal */
  }
.horizontal-buttons button {
    border-radius: 10vw;
    flex-wrap: nowrap;
    padding: 2vh 1.5vw; /* Reduce padding for smaller size */
    font-size: min(2.5vw,2.5vh); /* Decrease font size */
    background-color: transparent;
    color: #000000; /* Blue text color */
    cursor: pointer;
    margin-right: 10vw; /* Add margin between buttons */
    border: none; /* Remove border */
  }
.horizontal-buttons button:last-child {
    flex-wrap: nowrap;
    margin-right: 0; /* Remove margin for the last button */
  }
.horizontal-buttons button:hover {
    background-color: #007bff; /* Blue background color on hover */
    color: #fff; /* White text color on hover */
  }
.page-container {
    position: absolute;
    top: 1vw; /* Adjust top position as needed */
    left: 50vw;
    transform: translateX(-50%);
    width: 100vw;
    height: 50vh;
    display: none; /* Initially hidden */
  }
.horizontal-buttons button:hover + .page-container {
    display: block;
  }
.footer {
  padding: 20px;
  display: flex; /* Set to flex */
  justify-content: space-between; /* Spread items horizontally */
  margin-left: 1vw; /* Add 1% margin from the left */
  margin-right: 1vw;
  margin-top: 15vh;
  background-color: #f0f0f0; /* Change to your desired background color */

}
.footer-text {
  flex: 1; /* Take up remaining space */
}
.footer-links ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}
.footer-links ul li {
  margin-bottom: 10vh;
}
.footer-links ul li a {
  text-decoration: none;
  color: black; /* Change text color to black */
}
.footer-links ul li a:hover {
  color: white; /* Change color on hover */
}
.footer-text ul li a {
  font-size: min(2vw,2.5vh);
}
.footer-text h3 {
  font-size: min(2.1vw,3vh); /* Adjust the font size as needed */
}
